<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/styles.css">
    <meta charset="UTF-8">
    <title>Pallete</title>
</head>
<body>
    <h1>PALLETE</h1>
    <section>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </section>
    <br><br>
    <a href=""><button>Save</button></a>
    <script src="/script.js"></script>
</body>
</html>